#intro{
    padding:5px;
    border:1px solid #333;
    background:peachpuff;
    margin-bottom:10px;
}

.dev{
    border:1px solid red;
}

.dev div{
    border: 1px solid green;
}

.dev svg{
    border: 1px solid blue;
}
