<div class="container inner-top-xs inner-bottom-sm">
  <div class="row">
    <div class="col-md-8 col-sm-9 center-block text-center">
      <h1>D3+Angular+Bootstrap Chart Demos</h1>
      <p>Some charting mashup demos, splicing D3, THREE.js, Angular, CSS3 and Boostrap, with a host of other minor libraries in attendance.</p>
      <h2 class="sidelines text-center"><span>Demos</span></h2>
      <div class='col-md-6 text-left center-block'>
        <ul class='arrowed'>
          <li class='' ng-repeat="page in demo_pages"><a href="{{page.url}}">{{page.title}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


